* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

@import "./variables/colores";
@import "./variables/tipografias";
@import "./variables/extend";
@import "./variables/mixins";
@import "./variables/maps";
@import "./variables/bucle";
@import "./componentes/header";
@import "./componentes/portada";
@import "./componentes/footer";
@import "./secciones/index";
@import "./secciones/historia";
@import "./secciones/tortas";
@import "./secciones/box";
@import "./secciones/catering";
@import "./secciones/contacto";
































